{% extends "frontend/base.html" %}
{% load static %}

{% block title %}Мессенджер{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'frontend/css/messenger.css' %}">
{% endblock %}

{% block extra_header_actions %}

{% endblock %}

{% block main %}
<div class="messenger">

    <aside class="chat-sidebar">
        <div class="sidebar-title">Чаты</div>
        <div class="chats" id="chatList"></div>
    </aside>

    <section class="chat-area">
        <header class="chat-header" id="chatHeader">
            <div class="chat-avatar"></div>
            <div class="chat-title">Выберите чат</div>
        </header>

        <div class="chat-content" id="chatContent"></div>

        <footer class="chat-input">
            <textarea placeholder="Сообщение..." id="messageInput"></textarea>
            <button id="sendBtn">➤</button>
        </footer>
    </section>

</div>
{% endblock %}


{% block extra_scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const chatContent = document.querySelector(".chat-content");
        chatContent.scrollTop = chatContent.scrollHeight;
    });
</script>
<script type="module" src="{% static 'frontend/js/main.js' %}" defer></script>
{% endblock %}