DB_NAME=messenger
DB_USER=postgres
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=5432

SECRET_KEY=django-insecure-2j)&&(7vu#wgp-2j0m%uik@^v$f98v*l%d1nyz^te!kb)8^o^#

FERNET_KEY=

IS_OPEN_REGISTRATION=False