* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #F3F6FB;
    height: 100vh;
    overflow: hidden;
}

.header {
    height: 60px;
    background: #6FA1EC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-title {
    color: white;
    font-size: 22px;
}

.burger {
    width: 32px;
    cursor: pointer;
}

.burger div {
    width: 100%;
    height: 4px;
    background: white;
    margin: 4px 0;
    border-radius: 2px;
}

.header-actions {
    height: 70%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-actions-text {
    margin: 0 5px;
    color: white;
    font-size: 16px;
}

.glass-button {
    background: rgba(125, 163, 201, 0.75);
    border: none;
    border-radius: 10px;
    padding: 0 12px;
    color: white;
    height: 100%;
    backdrop-filter: blur(10px);
    transition: 0.25s;
}

.glass-button:hover {
    background: rgba(65, 111, 158, 0.95);
    cursor: pointer;
}

main {
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}